.jumbotron {
    /* The image used */
    

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    padding-top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.70;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.container {
    margin-top: 5px;
    background-color: rgb(196, 196, 196);
    opacity: 0.70;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

#match-img {
    object-fit: contain;
}

body {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 90px;
    
    background-color: black;
    background-image: url("https://media.giphy.com/media/XXGHEeerbpjzO/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: black;
}

h2 {
    color: gray;
}



p {
    color: red;
}